# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
target
.idea/vcs.xml
spring-cloud-common/target/
spring-cloud-consumer/target/
spring-cloud-consumer2/target/
spring-cloud-gateway/target/
spring-cloud-producer-consul/target/
spring-cloud-producer-zookeeper/target/
spring-cloud-producer/target/
spring-cloud-server-eureka/target/
spring-cloud-zuul/target/
/.idea/
/spring-cloud-practice.iml
